@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #eee7dd;
  --foreground: #34312d;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@media (prefers-color-scheme: funky) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
